*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
#fora{
    display: flex;
    flex-direction: row;
    
}
#sim{
    background-color: green;
    border: 2px solid black;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
#nao{
    background-color: red;
    border: 2px solid black;
    font-size: 20px;
    padding: 2px 5px 2px 5px;
    margin-left: 5px;
    cursor: pointer;
    text-decoration: none;
    
}
